.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;

    .login {
        min-width: 150px;
        max-width: 350px;
    }
}