<div class="container main">
    <div class="container card login">
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <label for="usuario">E-mail</label>
                    <input id="email" type="email" class="form-control" formControlName="email" />
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" formControlName="password" />
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>
    </div>
</div>