<div class="container main">
    <div class="container card cadastro">
        <div class="card-body">
            <form [formGroup]="cadastroForm" (ngSubmit)="onCadastro()">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" class="form-control" formControlName="nome" />
                </div>
                <div class="form-group">
                    <label for="sobrenome">Sobrenome</label>
                    <input id="sobrenome" type="text" class="form-control" formControlName="sobrenome" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" class="form-control" formControlName="email" />
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" formControlName="password" />
                </div>
                <button type="submit" class="btn custom-btn mt-1">Cadastrar</button>

                <button type="button" class="btn custom-btn mt-1 custom-btn-right" [routerLink]="['/login']">Ir para
                    Login</button>
            </form>
            <nav *ngIf="errorCadastro" class="erro-cadastro">
                <p style="color: red;">Erro ao cadastrar. Usuário já utilizado</p>
            </nav>
        </div>
    </div>
</div>