<div class="container">
    <div class="row flex-column align-items-center">
        <div class="col">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">

                {{fileName || "Escolha um arquivo"}}

                <button mat-mini-fab color="primary" class="upload-btn custom-input" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
        </div>
        <div class="col">
            <button class="custom-btn" (click)="uploadJson()">Upload JSON</button>
        </div>
    </div>
    <mat-spinner *ngIf="uploading" diameter="50" color="primary" class="d-block mx-auto mt-3"></mat-spinner>
</div>