<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Resultados da análise {{ id }}</h2>
    </div>
    <div class="card-body">
      <h3>Candidato por estado</h3>
      <div class="table-container">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th class="w-50 p-3">Estado</th>
              <th class="w-50 p-3">Candidatos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of candidatoPorEstado">
              <td class="align-middle">{{ item.chave }}</td>
              <td class="align-middle">{{ item.valor }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <h3>IMC Médio por faixa de idade</h3>
      <div class="table-container-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="w-50 p-3">Faixa de idade</th>
              <th class="w-50 p-3">IMC médio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of imcMedioPorFaixaDeIdade">
              <td class="align-middle">{{ item.chave }}</td>
              <td class="align-middle">{{ roundValue(item.valor) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <h3>Porcentagem de obesidade por gênero</h3>
      <div class="table-container-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="w-50 p-3">Sexo</th>
              <th class="w-50 p-3">Obesidade %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of porcentagemObesidadePorGenero">
              <td class="align-middle">{{ item.chave }}</td>
              <td class="align-middle">{{ roundValue(item.valor) }}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <h3>Média de idade por tipo sanguíneo</h3>
      <div class="table-container-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="w-50 p-3">Tipo sanguíneo</th>
              <th class="w-50 p-3">Média de idade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mediaIdadeTipoSanguineo">
              <td class="align-middle">{{ item.chave }}</td>
              <td class="align-middle">{{ roundValueFixed(item.valor) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <h3>Potenciais doadores por tipo sanguíneo</h3>
      <div class="table-container-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="w-50 p-3">Tipo sanguíneo</th>
              <th class="w-50 p-3">Quantidade de doadores</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mediaIdadeTipoSanguineo">
              <td class="align-middle">{{ item.chave }}</td>
              <td class="align-middle">{{ roundValueFixed(item.valor) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>